<!--
                {% if request.user.username %}
                        <a class="navbar-brand" href="{% url 'profile' %}">{{ request.user.username }}</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarResponsive"
                                aria-controls="navbarResponsive" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                {% else %}
                        <a class="navbar-brand" href="{% url 'profile' %}">Войти или зарегистрироваться</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarResponsive"
                                aria-controls="navbarResponsive" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                {% endif %}
                <a class="navbar-brand" href="{% url 'home' %}">К списку объявлений</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->