{% extends 'flatpages/default.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>Добавить отклик</h1>
            <hr>
            <form method="post" style="max-width: 1200px; margin: 0 auto;">
                {% csrf_token %}
                    <div style="margin-bottom: 10px;">
                        {{ form.text }}
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить отклик</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}